[Desktop Entry]
Name=MUP
GenericName=Markup reader
Comment=A markup reader
Exec=mup %F
Terminal=false
Icon=text-x-generic
Type=Application
Categories=Qt;Viewer;Office;
MimeType=text/x-markdown;text/x-rst;
